.attribute-slider {
    padding-left: 2.5%;

    & .css-1w9j81v-Slider {
        width: 95%;
        height: 15px;
        border-radius: 50px;

        overflow: visible;
    }
    & .css-a7owo1-Slider {
        border-radius: 50px;
    }

    & .css-1gdoex7-Slider {
        width: 95%;
        height: 15px;
        border-radius: 50px;

        overflow: visible;
    }
}
