tbody {
    margin-top: 18px;
    margin-bottom: 18px;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

th {
    color: $spotify-green;
    text-align: left;
    font-size: normal;
    font-weight: normal;
}

.temp-titlespan {
    text-align: center;
    font-size: larger;
}

.trackdetails {
    & span {
        color: $spotify-green;
        & .content {
            color: whitesmoke;
        }
    }

    & .attributes {
        padding-bottom: 30px;
        padding-right: 20px;

        & .attribute {
            & .rc-progress-line:nth-child(2) {
                margin-top: 0.2em;
            }
        }
    }
    & .analysis {
        width: 95%;
        margin-right: 20px;
        border-radius: 50px;
    }
}
