.seed-wrapper {
    display: grid;

    grid-template-columns: 1fr 18%;
    grid-template-areas: "seed" "remove";
    background-color: $spotify-gray;
    border-radius: 35px;
    margin-top: 5px;

    & .seed {
        grid-area: seed;
    }

    & .remove {
        grid-area: remove;
    }
}

