$primary-color: #000;
$spotify-black: #121212;
$spotify-darkgray: #181818;
$spotify-gray: #535353;
$spotify-lightgray: #b3b3b3;
$spotify-green: #1db954;
$spotify-red: #DC3F3D;
$spotify-orange: #f59542;
