$title-height: 70px;
$title-fontsize: 34px;

$font : 'Nunito', sans-serif;

$normal-fontsize: 24px;
$large-fontsize: 32px;
$xlarge-fontsize: 40px;

$item-height: 100px;
$item-width: 100px;
$button-border-radius: 35px;
$searchbar-height: 60px;
$searchbar-width: 100%;
