.playlistview {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;

    & .playlist-wrapper {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        height: 100%;

        & .playlist-item {
            scroll-snap-align: start;
            display: grid;
            grid-template-columns: auto 21%;
            border-radius: 25px;
            background-color: $spotify-gray;
            margin-top:7px;
        }
    }
    & .buttons {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 8px 0px;
        margin: 5px;
    }
}
