@import './centerview/centerview.scss';
@import './centerview/searchview/searchview.scss';
@import './centerview/recommendationview/recommendationview.scss';

@import './selectionview/selectionview.scss';
@import './selectionview/attributeview/attributeview.scss';
@import './selectionview/seedview/seedview.scss';

@import './informationview/informationview.scss';
@import './informationview/playlistview/playlistview.scss';
