.search-result-wrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;

    & .searchresult {
        display: grid;
        grid-template-columns: 90% 10%;
        margin-bottom: 10px;
        scroll-snap-align: start;

        border-radius: $button-border-radius;
        background-color: $spotify-gray;

    }
    & .detailed {
        background-color: #60a647;
    }
}

.search-result-wrapper2 {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;

    & .searchresult {
        display: grid;
        grid-template-columns: 80% 10% 10%;
        margin-bottom: 10px;
        scroll-snap-align: start;
        border-radius: $button-border-radius;
        background-color: $spotify-gray;
    }
    & .detailed {
        background-color: #60a647;
    }
}
