tbody {
    margin-top: 18px;
    margin-bottom: 18px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 7px;
}
td {
    padding-left: 10px;
    border-left: 1px solid $spotify-gray;
    font-size: 20px;
}

tr {
    border-bottom: 1px solid $spotify-gray;
    border-top: 1px solid $spotify-gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

th {
    padding-right: 20px;
    color: $spotify-green;
    text-align: left;
    font-size: normal;
    font-weight: bolder;
    font-size: 24px;
}

.temp-titlespan {
    text-align: center;
    font-size: larger;
}

.trackdetails {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    padding-right: 20px;
    & span {
        padding-left: 0px;

        color: $spotify-green;
        & .content {
            color: whitesmoke;
        }
        margin-left: 0px;
    }

    & .attributes {
        padding-left: 20px;

        padding-bottom: 30px;
        padding-right: 20px;

        & .attribute {
            & .rc-progress-line:nth-child(2) {
                margin-top: 0.2em;
            }
        }
    }
    & .analysis {
        margin-left: 20px;
        width: 95%;
        border-radius: 50px;
    }
}
